/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* CUSTOM PROPS CSS START  */
:root {
  --primary-color: #ea625c;
  --primary-dark-color: #c9514c;
  --text-color: #333;
}

/* GLOBAL CSS START  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: 3px;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER CSS START  */
.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* SITE BUTTON CSS START  */
.site-button {
  display: inline-block;
  min-width: 260px;
  text-align: center;
  background-color: var(--primary-color);
  padding: 12px 38px;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.site-button:hover {
  background-color: var(--primary-dark-color);
}

.site-button:active {
  opacity: 0.6;
}

/* LEARN BUTTON LINK  */
.learn-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  font-style: 16px;
  line-height: 1.6;
  text-decoration: none;
}

.learn-link::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: var(--primary-color);
  margin-right: 10px;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.learn-link:hover::before {
  width: 60px;
}

/* SAIT MAIN CSS START  */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* SITE HEADER CSS START  */
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo-link {
  margin-right: auto;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.site-logo-link:hover {
  opacity: 0.8;
}

.site-logo-link:active {
  opacity: 0.6;
}

.site-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}

.site-nav {
  margin-right: 40px;
}

.site-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.site-item:not(:last-child) {
  margin-right: 30px;
}

.site-item-link {
  display: block;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  color: var(--text-color);
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
  -webkit-transition: border-bottom 0.3s ease;
  -o-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}

.site-item-link:hover {
  border-bottom: 3px solid var(--text-color);
}

.search-input {
  margin: 0;
  border: 0;
  padding: 6px 0px;
  border-bottom: 1px solid var(--text-color);
}

/* HERO SECTION CSS START   */
.hero-section {
  padding-top: 140px;
  padding-bottom: 185px;
  border-bottom: 2px solid #ddd;
  background-image: url("../images/hero-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: left calc(50% + 550px) bottom;
}

/* LEAD CTA CSS START  */
.lead-cta {
  width: 100%;
  max-width: 490px;
}

.lead-cta-heading {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 50px;
  line-height: 1.2;
  color: #000;
}

.lead-cta-heading.heading-cta-lead {
  color: #fff;
}

.lead-cta-text {
  margin: 0;
  padding: 0;
  color: #777;
  padding-left: 37px;
  border-left: 3px solid #888;
  margin-bottom: 30px;
}

.lead-cta-text.text-cta-lead {
    color: #fff;
    border-color: #fff;
}

/* FEATURES SECTION CSS START  */
.features-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  width: 280px;
}

.features-item:not(:last-child) {
  margin-right: 80px;
}

.features-heading {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222;
}

.features-text {
  margin: 0;
  margin-bottom: 20px;
}

.features-divider {
  width: 8px;
  height: 8px;
  border: 0;
  background-color: #ddd;
  -webkit-box-shadow: 16px 0 0 0 #ddd, 32px 0 0 0 #ddd;
          box-shadow: 16px 0 0 0 #ddd, 32px 0 0 0 #ddd;
}

/* PROMO SECTION CSS START  */
.promo-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.promo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* RUNNERS SECTION CSS STAR  */
.runners-section {
  padding-top: 240px;
  padding-bottom: 240px;
  background-image: url("../images/runners.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.runners-lead-cta {
  margin-left: auto;
}

/* RETINA BG CSS START  */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../images/hero-bg-img@2x.jpg");
  }

  .runners-section {
      background-image: url("../images/runners@2x.jpg");
  }
}