/* CUSTOM PROPS CSS START  */
:root {
  --primary-color: #ea625c;
  --text-color: #333;
}

/* GLOBAL CSS START  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--primary-color);
  outline-offset: 3px;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER CSS START  */
.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* SAIT MAIN CSS START  */
.site-main {
  flex-grow: 1;
}

/* SITE HEADER CSS START  */
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.site-logo-link {
  margin-right: auto;
  transition: opacity 0.3s ease;
}

.site-logo-link:hover {
    opacity: 0.8;
}

.site-logo-link:active {
    opacity: 0.6;
}

.site-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}

.site-nav {
  margin-right: 40px;
}

.site-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.site-item:not(:last-child) {
  margin-right: 30px;
}

.site-item-link {
    display: block;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  color: var(--text-color);
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
  transition: border-bottom 0.3s ease;
}

.site-item-link:hover {
    border-bottom: 3px solid var(--text-color);
}

.search-input {
    margin: 0;
    border: 0;
    padding: 6px 0px;
    border-bottom: 1px solid var(--text-color);
}
